$spacer: 1em;
$blue: #2f80ed;
$red: #eb5757;
$font-gray-100: #e0e0e0;
$font-gray-200: #828282;
$input-gray: #3c393f;
$dark-100: #252329;
$dark-200: #120f13;
$dark-300: #0b090c;

@mixin grid($row, $column, $gap: $spacer) {
  display: grid;
  grid-template: $row / $column;
  gap: $gap;
  @content;
}

@mixin pseudo($content: '', $inset) {
  position: relative;

  &::after {
    content: $content;
    position: absolute;
    inset: $inset;
    @content;
  }
}

@mixin medium() {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin sideScrollBar() {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $dark-300;
    padding-inline: $spacer;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 200ms linear;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $input-gray;
    }
  }
}
