@use './variables' as *;

.channel-info-nav {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: $dark-200;
  color: $font-gray-100;
  z-index: 3;
  position: fixed;
  inset: 0 0 auto 0;
  width: min(90%, 370px);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 250ms linear;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $dark-300;
    padding-inline: $spacer;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 200ms linear;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $input-gray;
    }
  }

  &.active {
    transform: translateX(0);
  }

  @include medium {
    position: sticky;
    inset: 0 auto auto 0;
    transform: translate(0);
    width: auto;
  }

  .header {
    display: flex;
    gap: $spacer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: $spacer;
    position: sticky;
    inset: 0 0 auto 0;
    width: 100%;
    isolation: isolate;
    background-color: $dark-200;
    height: max-content;

    img {
      width: 0.9rem;
      cursor: pointer;
    }
    p {
      text-transform: uppercase;
    }
    .img-container {
      position: absolute;
      inset: 50% auto auto 100%;
      z-index: 10;
      transform: translate($spacer, -50%);
      width: 42px;
      aspect-ratio: 1 / 1;

      img {
        width: 90%;
        aspect-ratio: inherit;
      }
    }
  }

  .container {
    padding: $spacer;

    .name,
    .desc {
      margin-inline: auto;
    }
    .name {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.15rem;
      margin-bottom: $spacer * 0.8;
    }
    .desc {
      line-height: 1.75;
    }
  }
  .members {
    margin-top: $spacer * 2;

    p:first-child {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.15rem;
      margin-bottom: $spacer;
    }
  }
}
