@use './variables' as *;

.chat-interface {
  section {
    background-color: $dark-100;
    color: $font-gray-100;
    padding-top: calc(56px + $spacer);

    header {
      display: flex;
      gap: $spacer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: $spacer;
      position: fixed;
      inset: 0 0 auto 0;
      isolation: isolate;
      background-color: $dark-100;
      font-weight: 700;

      img {
        width: 1rem;
        cursor: pointer;
      }
      p {
        text-transform: uppercase;
      }
    }
    .container {
      padding: $spacer;
      padding-bottom: $spacer * 4;

      .message-input {
        display: flex;
        padding: 0.5em 0.5em 0.5em 1em;
        border-radius: 12px;
        background-color: $input-gray;
        position: fixed;
        inset: auto $spacer $spacer $spacer;

        &::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          inset: 100% 0 auto 0;
          background-color: $dark-100;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          color: $font-gray-100;
        }
        button {
          border: none;
          outline: none;
          background-color: $blue;
          padding: $spacer * 0.4;
          border-radius: 8px;

          img {
            width: 20px;
          }
        }
      }
    }
  }
}
