@use './resets';

body {
  font-family: 'Noto Sans', 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  scroll-behavior: smooth;
}
#modal-root {
  position: fixed;
  inset: 0 0 auto 0;
  height: 100vh;
  z-index: 4;
  opacity: 1;
  transition: opacity 250ms linear;
  display: grid;
  place-items: center;
  background: rgba(18, 15, 19, 0.5);

  &:empty {
    opacity: 0;
    z-index: -4;
  }
}
