@use './variables' as *;

.member-message {
  @include grid(
    $row: repeat(2, auto),
    $column: auto 1fr,
    $gap: $spacer * 0.5 $spacer
  ) {
    grid-template-areas: 'img header' 'img message';
  }
  margin-bottom: $spacer * 2;
  align-items: start;

  img {
    grid-area: img;
    width: 45px;
    border-radius: 7px;
  }
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .name {
      text-transform: capitalize;
      color: $font-gray-200;
      font-weight: 700;
      margin: 0;
      margin-right: $spacer;
    }
    .date {
      color: $font-gray-200;
      font-size: 0.95rem;
    }
  }
  .message {
    grid-area: message;
    overflow: hidden;
    overflow-wrap: break-word;
  }
}
