@use './variables' as *;

.member {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $spacer * 2;
  align-items: center;
  margin-bottom: $spacer;

  img {
    width: 45px;
    border-radius: 7px;
  }
  p {
    color: $font-gray-200;
    font-weight: 700;
    width: 100%;
  }
}
