@use './variables' as *;

.user {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer;
  align-items: center;
  padding: $spacer;
  position: sticky;
  inset: auto 0 0 0;
  background-color: $dark-300;
  height: max-content;
  margin-top: auto;

  img {
    width: 45px;
    aspect-ratio: 1 / 1;
    border-radius: 7px;

    &.down {
      width: 1rem;
      aspect-ratio: unset;
      border-radius: unset;
      margin-left: auto;
      cursor: pointer;
    }
  }
  .name {
    text-transform: uppercase;
  }
}
