@use '../variables' as *;

.call-interface {
  padding: $spacer;

  #videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    .user-two {
      display: none;
    }
  }
  .video-player {
    width: 100%;
    background-color: #000;
    height: 300px;
    transform: scaleX(-1);
  }

  #controls {
    position: fixed;
    inset: auto auto 20px 50%;
    transform: translateX(-50%);
    display: flex;
    gap: $spacer;

    .control-container {
      background-color: rgba(#b366f9, 0.9);
      padding: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: max-content;

      &#leave-btn {
        background-color: #ff5050;
      }
      img {
        width: 30px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
